.breadcrumb-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-top: 60px;

  @include media-breakpoint-down(lg) {
    margin-top: 85px;
  }

  .breadcrumb {
    border-radius: 0;
    background: none;
    margin-bottom: 0;

    &__item {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:not(:last-child) {
        margin-#{$right}: 30px;
        position: relative;

        &::after {
         content: "/";
          #{$right}: -22px;
          color: #a0a1a2;
          position: absolute;
          font-size: rem(36);
          @include media-breakpoint-down(md) {
            font-size: rem(25);
          }
        }

        .breadcrumb__link {
          transition: $transition-type;
          color: #4187d4;

          &:hover {
            color: $primary-color !important;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        margin: 5px 0;
      }
    }

    &__link {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: rem(36);
      font-family: $font-bold;

      @include media-breakpoint-down(md) {
        font-size: rem(25);
      }
    }

    &--mb-0 {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: rem(34);
    font-family: $font-bold;
    color: $color-white;
    margin-top: 20px;
  }

}
