.card {
    @extend .utl-card-hover;
	border-radius: 0;
	background-color: transparent!important;
	box-shadow: none;
	@include media-breakpoint-down(sm) {
	  margin-bottom: 20px;
	}
	&-text {
		color: $color-dark;
		line-height: 24px;
	}
  }