.courses {
  background-color: $color-white;
  padding: 60px 20px;

  &__card {
    background-color: #f5f5f5;
    margin-bottom: 20px;

    &__body {
      padding: 20px;
    }

    &__title {
      font-size: rem(24);
      font-family: $font-bold;
      color: $color-dark;
      margin: 10px 0;
    }

    &__description {
      color: #4b4b4b;
    }

    &__time {
      margin-bottom: 50px;
      color: #02133c;
      font-size: rem(16);
      display: block;

      &__icon {
        margin-inline-end: 5px;

        color: #4187d4;
      }
    }
  }
}
