%section-bg {
    content: "";
    background-image: url(../img/section-bg.png);
    width: 100%;
    background-size: cover;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 9;
}

%section-top-layer {
    position: relative;
    z-index: 99;
}

.CEO-word {
    padding: 35px 80px;
    background-color: $color-white;
    display: flex;
    position: relative;
    // position: relative;
    // top: -100px;

    & > * {
        @extend %section-top-layer;
      }
    
    &__image {
        width: 208px;
        height: 208px;
        margin-inline-end: 28px;
    }

    &__info {
        &__author {
            font-size: rem(36);
            color: #02133c;
            font-family: $font-bold;
        }

        &__title {
            font-size: rem(16);
            font-family: $font-bold;
            color: #4b4b4b;
            margin: 15px 0;
        }

        &__content {
            color: #4b4b4b;
            line-height: 1.5;
            font-size: rem(16);

        }
        &__button {
            text-align: #{$right};
            margin-top: 25px;
        }
    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        padding: 20px;
        &__image {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &__info__author{
            font-size: rem(22);
        }
      }

      &::after {
        @extend %section-bg;
      }
}