.CEO-word {
    padding: 35px 80px;
    background-color: $color-white;
    display: flex;

    &__image {
        width: 208px;
        height: 208px;
        margin-right: 28px;
    }

    &__info {
        &__author {
            font-size: rem(36);
            color: #02133c;
            font-family: $font-bold;
        }

        &__title {
            font-size: rem(16);
            font-family: $font-bold;
            color: #4b4b4b;
            margin: 15px 0;
        }

        &__content {
            color: #4b4b4b;
            line-height: 1.5;
            font-size: rem(16);

        }
        &__button {
            text-align: right;
            margin-top: 25px;
        }
    }
}