.main {
  background-color: #f5f5f5;
}

.services {
  padding-bottom: 50px;
  margin-top: -70px;
  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }

  @media screen and (max-height: 600px) {
    margin-top: 0;
  }

  .btn.utl-btn-outline {
    &:hover {
      .icon {
        &::before {
          color: #fff !important;
        }
      }
    }
  }
}

.CEO-word {
  @include media-breakpoint-down(md) {
    top: 0;
    margin: 40px 0;
  }
}

.ceo-wrapper {
  top: -150px;
  @media screen and (max-height: 600px) {
    top: 0;
  }
}

.video-gallery {
  height: 500px;
  width: 100%;
  background-image: url(../img/video-gallery.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &__title {
    color: $color-white;
    font-family: $font-bold;
    width: 70%;
    margin: 0 auto;
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    position: relative;
    z-index: 9999;
    margin-top: 75px;
    .icon {
      font-size: rem(25);
      color: $primary-color;
    }
  }
}

.promises {
  padding: 80px 0;
  .promise {
    display: flex;
    align-items: flex-start;

    &__title {
      font-size: rem(19px);
      color: $color-dark;
      margin-bottom: 20px;
      font-family: $font-bold;
    }

    &__info {
    }

    &__image {
      margin-inline-end: 23px;
    }

    &__description {
      font-size: rem(16px);
      color: 4b4b4b;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }
}

.company {
  background-color: #02133c;
  padding: 100px 0;
  position: relative;
  & > * {
    @extend %section-top-layer;
  }
  &__slogan {
    color: #d5d5d5;
  }

  &__title {
    color: #fff;
  }

  &__statistics {
    padding-top: 50px;

    &__item {
      display: flex;
      align-items: center;

      &__info {
      }

      &__icon {
        margin-inline-end: 12px;
        font-size: rem(20);
        &::before {
          color: $color-white;
        }
      }

      &__count {
        font-size: rem(36);
        color: $primary-color;
        font-family: $font-bold;
        margin-bottom: 5px;
      }

      &__label {
        font-size: rem(16);
        color: #f5f5f5;
      }

      @include media-breakpoint-down(sm) {
        justify-content: center;
        margin-bottom: 40px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  &::after {
    @extend %section-bg;
  }
}

.client {
  background-color: #02133c;
  padding: 100px 0;
  position: relative;

  & > * {
    @extend %section-top-layer;
  }

  &__title,
  &__slogan {
    color: $color-white;
  }

  &__slogan {
    width: 60%;
    line-height: 1.17;
  }

  &__card {
    background-color: $color-white;
    margin-bottom: 20px;

    &__image {
      height: 70px;
      margin: 0 auto;
      display: block;
    }
  }

  &__view-all {
    color: $color-white;
  }

  .col-md-3 {
    &:nth-child(4n) {
      .client__card {
        border-top-right-radius: 20px;
      }
    }

    &:nth-child(4n + 1) {
      .client__card {
        border-top-left-radius: 20px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    & {
      padding: 40px 0;

      &__slogan {
        width: 100%;
      }
    }
  }

  &::after {
    @extend %section-bg;
  }
}

.testimonials {
  padding: 100px 0;

  &__title,
  &__slogan {
    color: $color-dark;
  }

  &__card {
    background-color: $color-white;
    padding: 40px;

    &__description {
      font-size: rem(16);
      color: #4b4b4b;
      font-family: $font-regular;
      text-align: justify;
      @extend .utl-truncate-4;
    }

    &__author {
      display: flex;
      align-items: center;
      margin-top: 30px;

      &__name {
        font-size: rem(16);
        font-family: $font-bold;
        color: $color-dark;
      }

      &__image {
        width: 48px;
        height: 48px;
        margin-inline-end: 15px;
      }
    }
  }
}

.inquiry {
  padding: 130px 0;
  padding-bottom: 200px;
  background-color: #02133c;
  position: relative;

  & > * {
    @extend %section-top-layer;
  }

  &__wrapper {
    align-items: center;
    position: relative;
    z-index: 9999;
  }

  &__title {
    font-family: $font-bold;
    font-size: rem(42);
    color: #02133c;
    text-align: center;
    margin-bottom: 48px;
  }

  &__form {
    padding: 60px;
    background-color: $color-white;
    display: block;
    width: 100%;
  }

  &__label {
    font-size: rem(30);
    color: #fff;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    line-height: 1.2;
    font-weight: 900;
  }

  &__count {
    font-size: rem(96);
    color: #4187d4;
    font-weight: bold;
    font-family: $font-bold;
    margin-bottom: 46px;
    line-height: 0.7;
  }

  &__value {
    font-size: rem(19);
    color: #fff;
    font-family: $font-bold;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
    &__form {
      padding: 20px;
      margin-bottom: 40px;
    }
  }

  &::after {
    @extend %section-bg;
  }
}

.news-letter {
  padding: 60px;
  background-color: #d48e41;
  position: relative;
  top: -100px;

  .section-title {
    color: $color-white;
  }

  .btn {
    height: 48px;
  }

  &__form {
    &__title {
      font-size: rem(36);
      line-height: 1.17;
      font-family: $font-bold;
      margin-bottom: 40px;
      color: $color-white;
      width: 70%;
    }
  }

  @include media-breakpoint-down(sm) {
    top: 0;
    margin-top: 20px;
    & {
      padding: 20px;

      &__form {
        &__title {
          width: 100%;
        }

        &__input {
          flex-direction: column;

          .btn {
            width: 100%;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
