.utl-separator {
  height: 20px;
  width: 1px;
  background-color: $color-grey;
  margin: 0 20.3px;
  display: inline-block;
}

.utl-down-arrow {
  &::after {
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    font-size: 7px;
    margin:0 5.2px;
    -moz-osx-font-smoothing: grayscale;
    content: $icon-down-arrow;
  }
}

.utl-link {
  font-family: $font-bold;
  font-size: rem(14);
  color: $primary-color;
  transition: $transition-type;

  &:hover {
    color: $color-dark;
  }
}

.utl-form-label {
  font-size: rem(14);
  // font-family: $font-bold;
  margin-bottom: 10px;
}

.utl-form-label-dark {
  font-size: rem(14);
  font-family: $font-bold;
  color: $color-dark;
  margin-bottom: 10px;
}

.utl-no-border {
  border: unset;
}

.utl-group-buttons {
  margin-top: 50px;

  & > *:not(:last-child) {
    margin-#{$right}: 20px;
  }

  @include media-breakpoint-down(sm) {
    width: 80%;
    margin-#{$right}: auto;
    margin-#{$left}: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    & > *:not(:last-child) {
      margin-#{$right}: 0;
    }

    & > * {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.utl-card-hover {
  transition: $transition-type;
  padding-top: 5px;
  &:hover {
    cursor: pointer;
    // padding-top: 5px;
    transform: translateY(-5px);
  }
}

.utl-d-sm-none {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.utl-align-element {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

%truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.utl-truncate {
  &-2 {
    @extend %truncate;
    -webkit-line-clamp: 2;
  }
  &-3 {
    @extend %truncate;
    -webkit-line-clamp: 3;
  }
  &-4 {
    @extend %truncate;
    -webkit-line-clamp: 4;
  }
}

.utl-section-wrapper {
  padding: 60px;
  background-color: #fff;
  position: relative;
  top: -100px;

  @include media-breakpoint-down(lg){
    top: 0;
    padding: 20px;
  }
}