$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '../../../assets/fonts' !default;

$icon-section-title: '\e923';
$icon-play: '\e918';
$icon-close: '\e91c';
$icon-clock: '\e91d';
$icon-delete: '\e921';
$icon-info: '\e922';
$icon-overline-mark-path1: '\e909';
$icon-overline-mark-path2: '\e90d';
$icon-arrow-forward-24-px-1: '\e90e';
$icon-arrow-forward-24-px: '\e90f';
$icon-right-arrow-1: '\e912';
$icon-smartphone-24-px: '\e913';
$icon-car-transmission-24-x: '\e914';
$icon-team: '\e915';
$icon-review: '\e916';
$icon-certificate: '\e917';
$icon-eye-2: '\e93f';
$icon-home: '\e940';
$icon-mark: '\e941';
$icon-top-arrow: '\e942';
$icon-calender-2: '\e943';
$icon-download: '\e944';
$icon-envelope: '\e934';
$icon-plus: '\e937';
$icon-link: '\e938';
$icon-location1: '\e939';
$icon-folder: '\e93a';
$icon-eye: '\e93b';
$icon-file1: '\e93c';
$icon-site: '\e93d';
$icon-email: '\e919';
$icon-phone: '\e91a';
$icon-print: '\e91b';
$icon-document-pdf: '\e91e';
$icon-facebook1-path1: '\e91f';
$icon-facebook1-path2: '\e920';
$icon-location: '\e92a';
$icon-attach: '\e92b';
$icon-alert: '\e932';
$icon-user: '\e910';
$icon-menu: '\e911';
$icon-left-arrow: '\e908';
$icon-twitter: '\e902';
$icon-facebook: '\e903';
$icon-instagram: '\e904';
$icon-youtube: '\e90c';
$icon-down-arrow: '\e900';
$icon-share: '\e901';
$icon-right-arrow: '\e905';
$icon-calender: '\e906';
$icon-qoute: '\e907';
$icon-search: '\e90a';
$icon-star: '\e90b';
